<% if @visit.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@visit.errors.count, "error") %>
      prohibited you from saving:
    </h2>

    <ul>
    <% @visit.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @visit do |f| %>

  Record a Visit for:
    <%= @visit.state.name %>
    <%# f.collection_select(:state_id, State.order_alpha, :id, :name)%>
    <%= f.hidden_field :state_id %>
  <br></br>
  Rating out of 10: <%= f.number_field :rating, max:10, min:0 %> <br><br>

  <%= f.submit  %>
<% end %>