<h1><%= @shelter.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Shelter</th>
    <th>Adopt</th>
  </tr>
<% @shelter.dogs.each do |dog|%>
  <% if !dog.owner %>
  <tr>
    <td><strong><%=link_to dog.name, dog_path(dog) %></strong></td>
    <td><%=dog.breed%></td>
    <td><%= dog.age%></td>
    <% if dog.sex == 'M' %>
    <td>male</td>
    <% else %>
    <td>female</td>
    <% end %>
    <td><%= dog.shelter.name %></td>
    <td><%= link_to "Adopt Me!", "/dogs/#{dog.id}/adopt" %> </td>
  </tr>
  <% end %>
<% end %>
</table>

<%= render partial: 'dogs/stats', locals: {dogs: @shelter.dogs} %>
