<h1><%= @owner.name %></h1>

<h3>Dogs:</h3>

<table>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
      <th>Sex</th>
    </tr>
  <% @owner.dogs.each do |dog|%>
    <tr>
      <td><strong><%=link_to dog.name, dog_path(dog) %></strong></td>
      <td><%=dog.breed%></td>
      <td><%= dog.age%></td>
      <% if dog.sex == 'M' %>
      <td>male</td>
      <% else %>
      <td>female</td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <div>
    <p># of Puppies: <%= @owner.dogs.count{|dog| dog.age <= 1}%></p>
    <p># of Mutts: <%= @owner.dogs.count{|dog| dog.breed.downcase == 'mutt'}%></p>
    <p># of Males: <%= @owner.dogs.count{|dog| dog.sex == 'M'}%></p>
    <p># of Females: <%= @owner.dogs.count{|dog| dog.sex == 'F'}%></p>
  </div>