<h1>Add a recipe</h1>


<%= form_for @recipe do |f| %>
    <% if @recipe.errors.any? %>
        <ul>
            <% @recipe.errors.full_messages.each do |m| %>
                <li><%= m %></li>
            <% end %>
        </ul>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :meal_type %>
    <%= f.text_field :meal_type, placeholder: "Breakfast, Lunch, Dinner" %>
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
    <%= f.submit %>
<% end %>