<table>
      <tr>
        <th>Name</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Owner</th>
        <th>Abandon</th>
      </tr>
    <% dogs.each do |dog|%>
        <% if dog.owner%>
        <tr>
            <td><strong><%=link_to dog.name, dog_path(dog)%></strong></td>
            <td><%=dog.breed%></td>
            <td><%= dog.age%></td>
            <% if dog.sex == 'M' %>
            <td>male</td>
            <% else %>
            <td>female</td>
            <% end %>
            <td><%= dog.owner.name%></td>
            <td><button><%= link_to "Abandon", "/dogs/#{dog.id}/abandon" %> </button> </td>
        </tr>
        <% end %>
      <% end%>
    </table>